body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
td {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: solid 3px #eee;
	text-align: center;
	margin: 3px;
}

.bomb {
	border: solid 3px #fff;
	position: relative;
}
.bomb:after, .bomb:before {
	content: "";
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	background-color: #aa0000;
	border: solid 5px transparent;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.bomb:after{
	transform: rotate(45deg);
}

.open {
	border: solid 3px #fff;
}

.number {
}

.flag {
	border: solid 3px #a00;
	border-radius: 50%;
}

.game {
	display: inline-block;
	position: relative;
	padding: 5px;
	border: solid 1px #eee;
}

.game__over {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: -2px;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
	display: none;
}

input {
	width: 50px;
	border-radius: 0;
	border: solid 1px #eee;
	line-height: 60px;
	vertical-align: middle;
}
output {
	line-height: 60px;
	vertical-align: middle;
	color: white;
}

.scored__reload, input {
	max-width: 290px;
	display: inline-block;
	min-width: 102px;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	border: solid 1px #eee;
	border-radius: 3px;
	background-color: transparent;
	margin: 2px;
}

button.scored__reload {
	background-color: white;
}

.scored {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: black;
	vertical-align: middle;
}

label {
	color: white;
	margin-left: 10px;
}
