td {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: solid 3px #eee;
	text-align: center;
}

.bomb {
	border: solid 3px #fff;
	position: relative;
}
.bomb:after, .bomb:before {
	content: "";
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	background-color: #aa0000;
	border: solid 5px transparent;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin:auto;
}
.bomb:after{
	transform: rotate(45deg);
}

.open {
	border: solid 3px #fff;
}

.number {
}

.flag {
	border: solid 3px #a00;
	border-radius: 50%;
}